@define-color base #202020;
@define-color smol #383838;
@define-color dim #525252;
@define-color meh #888888;
@define-color text #c8c8c8;

@define-color red #fd7eaa;
@define-color green #97cbb8;
@define-color blue #96c6dd;
