@import url("colors.css");

* {
    font-family: "Caskaydia Cove Nerd Font", sans-serif;
    font-weight: 600;
    font-size: 17px;
    min-height: 10px;
}

window#waybar {
    color: @text;
    background: transparent;
    /* background: @base; */
    /* transition-property: background-color; */
    /* transitionduration: .5s; */
    /* border-radius: 16px; */
}

#waybar.empty #window {
    color: transparent;
    background: none;
}

#workspaces,
#custom-song,
.modules-center > *,
.modules-center > *,
.modules-right > * {
    background: @base;
    border: 3px solid @smol;
    border-radius: 10px;
}

#custom-song,
.modules-center > * > *,
.modules-right > * > * {
    padding: 3px 12px 2px;
    color: inherit;
}

.modules-center > * > * > *:not(:last-child) > *,
.modules-right > * > * > *:not(:last-child) > * {
    margin-right: 18;
}

tooltip {
    background: @base;
    border: 3px solid @smol;
    border-radius: 10px;
}
tooltip label {
    color: @text;
}

button {
    /* box-shadow: inset 0 -3px transparent; */
    /* background-color: @base; */
    background: transparent;
    color: @text;
    padding: 0 8px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    transition: none;
    padding-top: 1px;
}

button:not(:last-child) {
    margin-right: 0px;
}

button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: @smol;
}

button.active {
    background: @blue;
    color: @base;
}

#taskbar button.active {
    background: @smol;
}

#workspaces button.urgent {
    color: @red;
}

#custom-os {
    font-size: 22px;
    margin-left: 4px;
    margin-right: 8px;
}

#custom-time-tracker {
    color: @green;
}

#pulseaudio.muted,
#pulseaudio:not(.normal),
#pulseaudio.critical,
#network.disconnected,
#cpu.critical,
#custom-gpu.critical,
#memory.critical,
#disk.critical,
#custom-screen-recorder,
#custom-vpn {
    color: @red;
}
